<mat-sidenav-container>
    <mat-sidenav
      #sidenav
      [mode]="sideNavMode"
      role="navigation"
      [opened]="sideNavOpened"
      class="fixed"
      *ngIf="this.auth.loggedIn"
    >
      <mat-nav-list>
        <a 
          mat-list-item
          routerLink="/"
          (click)="close()"
          >Time Entries</a
        >
        <a
          mat-list-item
          routerLink="invoices"
          (click)="close()"
          >Invoices</a
        >
        <a
          mat-list-item
          routerLink="account"
          (click)="close()"
          >My Account</a
        >
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Main Content -->
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  