<h1>{{monthRange}} 2020</h1>
<div class="d-flex">
    <span *ngFor="let date of selectedDates" class="selected-date">
        {{date.date()}}
    </span>
</div>

<p>{{selectedDates.length || 'No'}} dates selected</p>

<form>
    <div class="form-field">
        <label>From</label>
        <ngb-timepicker [(ngModel)]="from" name="from" [meridian]="true" [minuteStep]="15"></ngb-timepicker>
    </div>

    <div class="form-field">
        <label>To</label>
        <ngb-timepicker [(ngModel)]="to" name="to" [meridian]="true" [minuteStep]="15"></ngb-timepicker>
    </div>
</form>

