<h1>
    <span *ngIf="monthRange && year">
        {{monthRange}} {{year}}
    </span>
    <span *ngIf="!monthRange && !year">
        No dates selected
    </span>
</h1>
<div class="d-flex">
    <span *ngFor="let date of selectedDates" class="selected-date">
        {{date.day}}
    </span>
</div>

<form>
    <div class="form-field">
        <label>From</label>
        <ngb-timepicker [(ngModel)]="from" name="from" [meridian]="true" [minuteStep]="15"></ngb-timepicker>
    </div>

    <div class="form-field">
        <label>To</label>
        <ngb-timepicker [(ngModel)]="to" name="to" [meridian]="true" [minuteStep]="15"></ngb-timepicker>
    </div>

    <button mat-raised-button type="button">Save</button>
</form>

