<div class="py-2">
  <button mat-raised-button class="form-button" color="primary" routerLink="/invoices/submit">
    New Invoice
  </button>
</div>

<mat-list *ngIf="invoices$ | async as invoices; else noInvoices" class="list-center">
  <h2 class="text-center">Invoices</h2>
  <mat-list-item *ngFor="let invoice of invoices">
    <span class="date">
      {{ invoice.created | date: "MMM dd" }}
    </span>
    <span class="detail">
      [${{ invoice.totalAmount }}] - {{ invoice.totalHours }}
      {{ invoice.totalHours > 1 ? "Hours" : "Hour" }}
    </span>
    <button
      mat-stroked-button
      [routerLink]="['/invoices', invoice.id]"
    >
      View
    </button>
  </mat-list-item>
</mat-list>


<ng-template #noInvoices>
  <p class="text-center">
    It looks like you don't have any invoices yet! 😲
  </p>
</ng-template>