.date {
    min-width: 3.8em;
    font-weight: bold;
}

.detail {
    min-width: 9em;
}

.form-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.py-2 {
    padding-top: 2em;
    padding-bottom: 2em;
}

.list-center {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}