<div class="calendar">
  <div class="month">
    November
  </div>

  <tr class="week week-header">
    <div class="day-cell">S</div>
    <div class="day-cell">M</div>
    <div class="day-cell">T</div>
    <div class="day-cell">W</div>
    <div class="day-cell">T</div>
    <div class="day-cell">F</div>
    <div class="day-cell">S</div>
  </tr>

  <div *ngFor="let week of weeks" class="week">
    <div *ngFor="let day of week" class="day-cell" (click)="selectDate(day)" [class.selected]="isSelected(day)">
      <div class="day-cell-content selectable" [class.today]="isToday(day)" [class.selected]="isSelected(day)">
        {{ day ? day.day : '' }}
      </div>
      <div *ngIf="day" class="time-indicator">
        <div *ngIf="day.hasMorning" class="line morning"></div>
        <div *ngIf="day.hasAfternoon" class="line afternoon"></div>
        <div *ngIf="day.hasEvening" class="line evening"></div>
      </div>
    </div>
  </div>
</div>
