.calendar {
}

.month{
  text-align: center;
  text-transform: uppercase;
  color: #6c757d;
}
.week {
  display: flex;
  justify-content: space-evenly;
}

.week-header {
  color: #6c757d;
  margin: 1em 0;
}

.day-cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 3em;
  line-height: 3em;
  width: 3em;
  text-align: center;
  user-select: none;
}

.day-cell-content {
  width: 100%;
  border-radius: 50%;
}

.day-cell-content.selectable {
  background-color: #fafafa;
}

.day-cell-content.selected {
  background-color: rgba(66, 66, 251, 0.781);
}

.day-cell-content.selectable:hover {
  filter: brightness(70%);
}

.today {
  border-width: .8px;
  border-style: solid;
  border-color: rgb(206, 204, 204);
}

.time-indicator {
  box-sizing: border-box;
  position: absolute;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  margin-top: 1px;
}

.morning {
  background-color: red;
}

.afternoon {
  background-color: green;
}

.evening {
  background-color: blue;
}
